.handkarten {
    position: fixed;
    bottom: 0;
    border: 5px solid black;
    width: 100%;
    height: 25em;
}
  
.handkarte {
    margin: 1.3em;
    z-index: 15;
    align: center;
}
  
body {
    margin: 0;
    padding: 0;
}
  
.Ablegestapel {
    border: 5px solid black;
    width: 10em;
    height: 15em;
    box-sizing: border-box;
    float: right;
}
  
.Deck {
    border: 5px solid green;
    width: 10em;
    height: 15em;
    box-sizing: border-box;
}
  
.Spielfeld {
    margin: 1.4em;
    border: solid 2px green;
    padding: 2em;
}